# Auth0
AUTH0_SECRET=use-openssl-rand-hex-32
AUTH0_BASE_URL=http://localhost:3000
AUTH0_ISSUER_BASE_URL=https://your-tenant.auth0.com
AUTH0_CLIENT_ID=...
AUTH0_CLIENT_SECRET=...
AUTH0_AUDIENCE=https://your-api/

# konfig-facade
KONFIG_FACADE_URL=http://localhost:4000
